<%- include('partials/header') %>
<%- include('partials/nav') %>
<link rel="stylesheet" href="assets/css/dashboard.css">

<%- include('partials/main') %>
<main id="container" data-sub=<%= user.sub %>>
  CREATE NOTE
</main>

<script src="assets/js/add-note/init.mjs" type="module"></script>

<%- include('partials/footer') %>