<%- include('partials/header') %>
<%- include('partials/nav') %>
<link rel="stylesheet" href="/assets/css/dashboard.css">

<%- include('partials/main') %>
<main id="container" data-sub=<%= user.sub %>>
    Name: <%= user.name %>
    Sub: <%= user["sub"] %>
    <div id="data">

    </div>
</main>

<script src="/components/dashboard/init.mjs" type="module"></script>

<%- include('partials/footer') %>